@model IEnumerable<SIR_Zaverecna_Prace.Entities.Game>

@{
    ViewData["Title"] = "MainPage";
}

<div>
    <div>
        <a asp-action="Manage" asp-controller="Publishers" class="btn btn-primary">Spravovat vydavatele</a>
        <a asp-action="Manage" asp-controller="Developers" class="btn btn-primary">Spravovat vývojáře</a>
        <a asp-action="Manage" asp-controller="Games" class="btn btn-primary">Spravovat hry</a>
    </div>
    <div>
        @foreach (var game in Model)
         {
            <h4>
                @game.Name, @game.PublishedAt, @game.Genre
            </h4>
            <a asp-action="Details" asp-controller="Games" asp-route-id="@game.Id" class="btn btn-secondary">Detail</a>
         }
    </div>
</div>
